<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css">
		<script src="/site_media/js/jquery-1.11.1.min.js"></script>
		<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
		<style>
			body, html {width: 100%; height: 100%; margin: 0; padding: 0;}
			* {box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
			#header {height: 1px; width: 100%; background-color: green;}
			#container {width: 100%; height: 100%; font-size: 0; border-top: 0px solid green;}
			#leftsec {
				width:20%; height:100%; display: inline-block; vertical-align: top;
				border-right: 1px solid grey; background-color: red;
			}
			#leftsec #logo {width: 100%; height: 20%; border: 0px solid grey; font-size: 24px; font-family: sans-serif; text-align: center; line-height: 120px; color: #eee; background-color: red; font-weight: 400; letter-spacing: 2px;}
			#rightsec { width:80%; height:100%; display: inline-block; vertical-align: top;}
			#rightsec #head {width: 100%; height: 10%;}
			#rightsec #articlelist {width: 100%; height: 90%; margin: auto; overflow: hidden; overflow-y: scroll; font-size: 10px;}
			article {width:80%; margin: 20px auto; height: 45px;}
			.counter {font-size: 24px; display: inline-block; vertical-align: top; line-height: 45px;}
			.upvote {font-size: 20px; display: inline-block; background-color: grey; vertical-align: top; height: 45px;}
			.upvote_icon {width: 0px; height: 0px; margin: auto; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 20px solid red;}
			.upvote_count {font-size: 16px; padding-top: 5px; text-align: center;}
			.story {font-size: 20px; display: inline-block; margin-left: 2%;}
			.title {display: inline-block;}
			.meta {font-size: 10px;}
		</style>
	</head>
	<body>
		<div id="header"></div>
		<div id="container">
			<div id="leftsec">
				
			</div>
			<div id="rightsec">
				<div id='head'></div>
				<div id='articlelist'>
					{%for article in all_articles%}
						<article>
							<div class='counter'>
								{{forloop.counter}}.
							</div>
							<div class='upvote'>
								<div class='upvote_icon'></div>
								<div class='upvote_count'>0</div>
							</div>
							<div class='story'>
								<div class='title'>{{article.0}}</div>
								<div class='meta'>{{article.2}}</div>
							</div>
						</article>
					{%endfor%}
				</div>
			</div>
		</div>
	</body>
	<script>
	</script>
</html>