<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css">
		<script src="/site_media/js/jquery-1.11.1.min.js"></script>
		<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
		<style>
			body, html {width: 100%; height: 100%; margin: 0; padding: 0;}
			* {box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
			#header {height: 0px; width: 100%; background-color: green;}
			#container {width: 100%; height: 100%; font-size: 0; border-top: 2px solid green;}
			#leftsec {
				width:30%; height:100%; display: inline-block; vertical-align: top;
				border-right: 1px solid grey;
			}
			#leftsec #info1 { height:50%;}
				#leftsec #info1 .logo {text-align: left; margin: auto; top: 50%; position: relative; transform: 			translateY(-50%); width: 75%; color: #444; font-size: 32px; font-weight: 600; line-height: 1.25;}
				#leftsec #info1 .tagline {
					text-align: left; margin: auto; top: 50%; position: relative; width: 75%; color: #888; font-size: 18px; line-height: 1.5; font-style: italic;
				}
				#leftsec #info1 .signup {
					text-align: left; margin: auto; top: 70%; position: relative; width: 75%; color: #888; font-size: 26px; line-height: 1.5; font-weight: 600;
				}
			#leftsec #info2 { height:0%;}
				#leftsec #info2 p { 
					margin: auto; top: 50%; position: relative; transform: translateY(-50%); width: 60%; color: #555; 
					font-size: 18px; font-style: italic; line-height: 1.3; text-align:left;
				}

			#leftsec #info3 { font-size: 18px;height:40%;}
				#leftsec #info3 p {text-align: center; margin: auto; top: 50%; position: relative; transform: 			translateY(-50%); width: 75%; color: #555;}
			#rightsec { width:70%; height:100%; display: inline-block; vertical-align: top;}
			#rightsec #head {width: 100%; height: 10%;}
			#rightsec #articlelist {width: 100%; height: 90%; margin: auto; overflow: hidden; overflow-y: scroll;}
			#rightsec #articlelist .article {width: 90%; margin: 2% auto;}
			#rightsec #articlelist .article .block1 {width: 5%; display: inline-block; vertical-align: top;}
				.upvote_sign {
					width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent;	border-bottom: 15px solid #f00; margin: 20% auto 5% auto;
				}
				
				.votecount p{font-size: 16px; line-height: 2; text-align: center;}
				a.login_pop {font-size: 16px; line-height: 2; text-align: center; color: green;}
			#rightsec #articlelist .article .block2 {width: 85%; display: inline-block;  vertical-align: top;}
				.articletitle {}
				.articletitle a {
					font-size: 22px; color: #333; margin-left: 5%; font-weight: 300; text-decoration: none; 
					border-bottom: 1px solid rgba(0,0,0,0.1);
				}
				.articletitle a:visited {color: #999; font-size: 14px;}
				.articlemeta {
					font-size: 14px; padding-left: 5%; color: #999; padding-top: 1%; font-style: italic; font-weight: 200;
				}
				.articlemeta a {margin-left: 5%;}

			
			.overlay {
				background-color: rgba(0, 0, 0, 0.6);
				bottom: 0;
				cursor: default;
				left: 0;
				opacity: 0;
				position: fixed;
				right: 0;
				top: 0;
				visibility: hidden;
				z-index: 1;
				-webkit-transition: opacity .5s;
				-moz-transition: opacity .5s;
				-ms-transition: opacity .5s;
				-o-transition: opacity .5s;
				transition: opacity .5s;
			}
			.overlay:target {
				visibility: visible;
				opacity: 1;
			}

			.login_popup, #comment_popup{
				background-color: #fff;
				display: inline-block;
				left: 50%;
				top: 40%;
				width: 35%;
				height: 20%;
				color:#666;
				opacity: 0;
				/*padding: 15px;*/
				position: fixed;
				text-align: center;
				visibility: hidden;
				z-index: 10;
				transform: translate(-50%, -100%);
				border-radius: 10px;
				box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
				transition: opacity .5s, top .5s;
			}
			.login_popup a{top:50%; position: fixed; font-size: 24px; transform: translate(-50%, -50%);}
			.overlay:target+.login_popup {
				top: 50%;
				opacity: 1;
				visibility: visible;
			}

			#comment_popup {
				left: 50%;
				top: 10%;
				width: 80%;
				height: 100%;
				-webkit-transform: translate(-50%, -95%);
			}
			.overlay:target+#comment_popup {
				top: 95%;
				opacity: 1;
				visibility: visible;
			}
		</style>
	</head>
	<body>
		<div id="header"></div>
		<div id="container">
			<div id="leftsec">
				<div id='info1'>
					<p class='logo'>News Hunt</p>
					<p class='tagline'>Curated news, articles & opinion about India.</p>
					{%if logged_in%}
						<p class='signup'><a href='/signout/'>Sign out</a></p>
					{%else%}
						<p class='signup'><a href='/joinus/'>Sign in with Twitter</a></p>
					{%endif%}
				</div>
			</div>
			<div id="rightsec">
				<div id='head'></div>
				<div id='articlelist'></div>
			</div>
		</div>
		<a href="#x" class="overlay" id="loginform"></a>
		<div class='login_popup'>
			<a class='upvote_joinus_link' href='/joinus/'>Sign in with Twitter</a>
		</div>

        <a href="#x" class="overlay" id="comment_section"></a>
		<div id='comment_popup'>
            <div class='comment_header' style='margin:4% auto; width:80%; height:8%;'>
                <div style='width:5%; display:inline-block; vertical-align:top;'>
                    <div class='upvote_sign'></div>
                    <div ><p>2</p></div>
                </div>
                <div style='width:85%; display:inline-block; vertical-align:top; margin:auto; text-align:left;'>
                    <div class='articletitle'>
                        <a href="http://indianexpress.com/article/opinion/columns/branding-the-babu/">Branding the babu</a>
                    </div>
                    <div class='articlemeta'>
                        <p><span>indianexpress.com</span></p>
                    </div>
                </div>
            </div>
            <div class='comments' style='width:80%; height:65%; margin: 0% auto; overflow-y:scroll;'>
            {%for i in 'afdfsdsdsfefefeegegegeafdfsdsdsfefefeegegegeafdfsdsdsfefefeegegegeafdfsdsdsfefefeegegege'%}
                <div class='comment' style='text-align:left; margin-top:2%;'>
                    <p>But Mr bhagwan has surrendered to Lalu. And still do you think there is anything bigger in bihar Once again Bihari ego has sacrificed the love story of brand bihar which was in initial stages only. Nitish has proved the old saying to modi - jo mera na ho saka woh tera bhi nahee hoga.</p>
                    <p>By Mohan</p>
                </div>
            {%endfor%}
            </div>
            <div style='width:80%; height:20%; margin: 3% auto; '>
                <textarea style='width:100%;'>Hello</textarea>
            </div>
        </div>

	</body>
    <script type="text/html" id="comment_tmpl">
        <div class="comment">
            <p><a href="<%=url%>"><%=title%> by <%=website%></p>
            {%if logged_in%}
                <form><textarea>Comment</textarea></form>
            {%else%}
                <p class="signup"><a href="/joinus/">Sign in with Twitter</a> to comment</p>
            {%endif%}
        </div>
    </script>
    <script type="text/html" id="item_tmpl">
        <div class="article">
            <div class="block1">
                {% if logged_in %}
                    <a href="#" class="upvote" data-id="<%=id%>"><div class="upvote_sign"></div></a>
                {%else%}
                    <a href="#loginform" class="upvote_joinus" data-id="<%=id%>"><div class="upvote_sign"></div></a>
                {%endif%}
                <div class="votecount"><p><%=vote.length%></p></div>
            </div>
            <div class="block2">
                <div class="articletitle"><a href="<%=url%>"><%=title%></a></div>
                <div class="articlemeta">
                    <p><span><%=website%></span>&nbsp;&nbsp;&nbsp;by&nbsp;&nbsp;&nbsp;<span>Manish Chand</span>
                        <a href="#comment_section" data-id="<%=id%>" class="comment_link"><%=comment.length%> comments</a>
                    </p>
                </div>
            </div>
        </div>
    </script>
	<script>
		// Simple JavaScript Templating
        // John Resig - http://ejohn.org/ - MIT Licensed
        var articles = {};

        (function(){
          var cache = {};
         
          this.tmpl = function tmpl(str, data){
            // Figure out if we're getting a template, or if we need to
            // load the template - and be sure to cache the result.
            var fn = !/\W/.test(str) ?
              cache[str] = cache[str] ||
                tmpl(document.getElementById(str).innerHTML) :
             
              // Generate a reusable function that will serve as a template
              // generator (and which will be cached).
              new Function("obj",
                "var p=[],print=function(){p.push.apply(p,arguments);};" +
               
                // Introduce the data as local variables using with(){}
                "with(obj){p.push('" +
               
                // Convert the template into pure JavaScript
                str
                  .replace(/[\r\t\n]/g, " ")
                  .split("<%").join("\t")
                  .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                  .replace(/\t=(.*?)%>/g, "',$1,'")
                  .split("\t").join("');")
                  .split("%>").join("p.push('")
                  .split("\r").join("\\'")
              + "');}return p.join('');");
           
            // Provide some basic currying to the user
            return data ? fn( data ) : fn;
          };
        })();        


        $.ajax({
                 type: "GET",
                 url: '/next/',
        }).done(function(data){
            //load the content to your div
            var new_articles = $.parseJSON(data);
            var articlelist = $('#articlelist')
            
            for (var i=0; i<new_articles.length; i++){
                articlelist.append(tmpl("item_tmpl", new_articles[i]));
                articles[new_articles[i]['id']] = new_articles[i];
            }
            // $('.comment_link').click(function(event){
            //     $("#comment_popup").html('<p><h2>This is comment form</h2></p>');
            // })
        });
        
        


	</script>
</html>