<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css">
		<script src="/site_media/js/jquery-1.11.1.min.js"></script>
		<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
		<style>
			body, html {width: 100%; height: 100%; margin: 0; padding: 0;}
			* {box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
			#header {height: 0px; width: 100%; background-color: green;}
			#container {width: 100%; height: 100%; font-size: 0; border-top: 2px solid green;}
			#leftsec {
				width:30%; height:100%; display: inline-block; vertical-align: top;
				border-right: 1px solid grey;
			}
			#leftsec #info1 { height:50%;}
				#leftsec #info1 .logo {text-align: left; margin: auto; top: 50%; position: relative; transform: 			translateY(-50%); width: 75%; color: #444; font-size: 32px; font-weight: 600; line-height: 1.25;}
				#leftsec #info1 .tagline {
					text-align: left; margin: auto; top: 50%; position: relative; width: 75%; color: #888; font-size: 18px; line-height: 1.5; font-style: italic;
				}
				#leftsec #info1 .signup {
					text-align: left; margin: auto; top: 70%; position: relative; width: 75%; color: #888; font-size: 26px; line-height: 1.5; font-weight: 600;
				}
			#leftsec #info2 { height:0%;}
				#leftsec #info2 p { 
					margin: auto; top: 50%; position: relative; transform: translateY(-50%); width: 60%; color: #555; 
					font-size: 18px; font-style: italic; line-height: 1.3; text-align:left;
				}

			#leftsec #info3 { font-size: 18px;height:40%;}
				#leftsec #info3 p {text-align: center; margin: auto; top: 50%; position: relative; transform: 			translateY(-50%); width: 75%; color: #555;}
			#rightsec { width:70%; height:100%; display: inline-block; vertical-align: top;}
			#rightsec #head {width: 100%; height: 10%;}
			#rightsec #articlelist {width: 100%; height: 90%; margin: auto; overflow: hidden; overflow-y: scroll;}
			#rightsec #articlelist .article {width: 90%; margin: 2% auto;}
			#rightsec #articlelist .article .block1 {width: 5%; display: inline-block; vertical-align: top;}
				.upvote_sign {
					width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent;	border-bottom: 15px solid #f00; margin: 20% auto 5% auto;
				}
				
				.votecount p{font-size: 16px; line-height: 2; text-align: center;}
				a.login_pop {font-size: 16px; line-height: 2; text-align: center; color: green;}
			#rightsec #articlelist .article .block2 {width: 85%; display: inline-block;  vertical-align: top;}
				.articletitle {}
				.articletitle a {
					font-size: 22px; color: #333; margin-left: 5%; font-weight: 300; text-decoration: none; 
					border-bottom: 1px solid rgba(0,0,0,0.1);
				}
				.articletitle a:visited {color: #999; font-size: 14px;}
				.articlemeta {
					font-size: 14px; padding-left: 5%; color: #999; padding-top: 1%; font-style: italic; font-weight: 200;
				}
				.articlemeta a {margin-left: 5%;}

			
			.overlay {
				background-color: rgba(0, 0, 0, 0.6);
				bottom: 0;
				cursor: default;
				left: 0;
				opacity: 0;
				position: fixed;
				right: 0;
				top: 0;
				visibility: hidden;
				z-index: 1;
				-webkit-transition: opacity .5s;
				-moz-transition: opacity .5s;
				-ms-transition: opacity .5s;
				-o-transition: opacity .5s;
				transition: opacity .5s;
			}
			.overlay:target {
				visibility: visible;
				opacity: 1;
			}

			.login_popup, .comment_popup{
				background-color: #fff;
				display: inline-block;
				left: 50%;
				top: 40%;
				width: 35%;
				height: 20%;
				color:#666;
				opacity: 0;
				/*padding: 15px;*/
				position: fixed;
				text-align: center;
				visibility: hidden;
				z-index: 10;
				transform: translate(-50%, -100%);
				border-radius: 10px;
				box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
				transition: opacity .5s, top .5s;
			}
			.login_popup a{top:50%; position: fixed; font-size: 24px; transform: translate(-50%, -50%);}
			.overlay:target+.login_popup {
				top: 50%;
				opacity: 1;
				visibility: visible;
			}

			.comment_popup {
				left: 50%;
				top: 20%;
				width: 70%;
				height: 90%;
				-webkit-transform: translate(-50%, -100%);
			}
			.overlay:target+.comment_popup {
				top: 95%;
				opacity: 1;
				visibility: visible;
			}
		</style>
	</head>
	<body>
		<div id="header"></div>
		<div id="container">
			<div id="leftsec">
				<div id='info1'>
					<p class='logo'>News Hunt</p>
					<p class='tagline'>Curated news, articles & opinion about India.</p>
					{%if logged_in%}
						<p class='signup'><a href='/signout/'>Sign out</a></p>
					{%else%}
						<p class='signup'><a href='/joinus/'>Sign in with Twitter</a></p>
					{%endif%}
				</div>
			</div>
			<div id="rightsec">
				<div id='head'></div>
				<div id='articlelist'>
					{%for article in all_articles%}
						<div class='article'>
							<div class='block1'>
								{% if logged_in %}
									<a href='#' class='upvote' data-id='{{article.id}}'><div class='upvote_sign'></div></a>
								{% else %}
									<a href='#loginform' class='upvote_joinus' data-id='{{article.id}}'><div class='upvote_sign'></div></a>
								{% endif %}
								<div class='votecount'><p>34</p></div>
							</div>
							<div class='block2'>
								<div class='articletitle'><a href='{{article.url}}'>{{article.title}}</a></div>
								<div class='articlemeta'>
									<p><span>{{article.source_name}}</span>&nbsp;&nbsp;&nbsp;by&nbsp;&nbsp;&nbsp;<span>Manish Chand</span>
										{% if logged_in %}
											<a href='#comment' class='comment_link' data-id='{{article.id}}'>29 Comments</a>
											<a id="page-help" href="/comment/1/" onclick="window.open(this.href, 'popupwindow', 'width=500,height=300'); return false;">what is this?</a>

										{% else %}
											<a href='#loginform' data-id='{{article.id}}'>29 Comments</a>
										{% endif %}
									</p>
								</div>
							</div>
							<div class='block3'></div>
						</div>
					{%endfor%}
				</div>
			</div>
		</div>
		<a href="#x" class="overlay" id="loginform"></a>
		<div class='login_popup'>
			<a class='upvote_joinus_link' href='/joinus/'>Sign in with Twitter</a>
		</div>

		<a href="#x" class="overlay" id="comment"></a>
		<div class='comment_popup'>
			<form>
				<textarea>Comment</textarea>
			</form>
		</div>
	</body>
	<script>
		var cur_page =	0;
		var processing = false;
		var clicked_article = null;
		$('a.upvote_joinus').click(function(event){
			clicked_article = $(this).attr('data-id');
		});
		$('a.upvote').click(function(event){
			event.preventDefault();
			clicked_article = $(this).attr('data-id');
			$.ajax({
				type: "POST",
				url: '/upvote/',
				data: { articleid: clicked_article}
			}).done(function(msg){
				$('a.upvote[data-id='+clicked_article+']').parent().find('.votecount').html("<p>"+msg+"</p>");
			})
		});
		$('a.upvote_joinus_link').click(function(event){
			var ori_href = $(this).attr('href')
			if (clicked_article){
				$(this).attr('href', ori_href+'?upvote='+clicked_article);
				clicked_article = null;
			}
		});

		// $('#articlelist').scroll(function(){
		// 	if (processing){
		// 		return false;
		// 	}
		// 	if ($('#articlelist').scrollTop() >= $('#articlelist').height() * (cur_page + 1) * 1.5 ){
		// 		processing = true; //sets a processing AJAX request flag
		// 		//or $.ajax, $.get, $.load etc.
		// 		cur_page = cur_page + 1
		// 		$.ajax({
		// 				type: "GET",
		// 				url: '/next/?page=' + cur_page.toString(),
		// 			}).done(function(data){
		// 				//load the content to your div
		// 				processing = false; //resets the ajax flag once the callback concludes
		// 				new_articles = $.parseJSON(data);
		// 				for (var i=0; i<new_articles.length; i++){
		// 					$('#articlelist').append(new_articles[i]);
		// 				}
		// 			});
		// 	}
		// })
		
		// $('.comment_link').click(function(event){
		// 	var checked_article = $(this).attr('data-id');
		// 	$.ajax({
		// 		type: "GET",
		// 		url: '/comment/'+checked_article.toString()+'/'
		// 	}).done(function(msg){
		// 		$(body).append(msg);
		// 	})
		// })

		$('.comment_link').each(function() {
			var $link = $(this);
			var $dialog = $('<div></div>')
				.load($link.attr('href'))
				.dialog({
					autoOpen: false,
					title: $link.attr('title'),
					width: 500,
					height: 300
				});

			$link.click(function() {
				$dialog.dialog('open');

				return false;
			});
		});
	</script>
</html>