<html>
	<head>
		<style>
			body, html {width: 100%; height: 100%; margin: 0; padding: 0;}
			* {margin: 0; padding: 0; box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
			/** {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}*/

			#header {width: 100%; height: 30%; background-color: #eee;}
			#header #logo {width: 50%; margin: 0px auto; }
			#header #logo p {font-size: 30px; font-weight: bold; color: #444; padding-top: 50px; }
			#container {width: 100%; font-size: 0; margin: 1% auto;}
			#articlelist {width: 70%; margin: 0 auto; border: 0px solid grey; font-size: 22px; font-weight: 200;}
			.article {width: 90%; margin: 5% auto;}
			.article .counter {width: 5%; display: inline-block; vertical-align: top; font-size: 24px;}
			.article .title {width: 90%; display: inline-block; vertical-align: top;}
			.title .source {font-size: 14px; font-style: italic; margin-top: 5px; color: #888;}
			.title .title_text {}
			.title .title_text a {text-decoration: none; color: #444; }
		</style>
	</head>
	<body>
		<div id='header'>
			<div id='logo'>
				<p>Daily collection of news articles and op-ed</p>
			</div>
			
		</div>
		<div id='container'>
			<div id='articlelist'>
				{% for item in news %}
					<div class='article'>
						<div class='counter'>{{forloop.counter}}.</div>
						<div class='title'>
							<p class='title_text'><a href='{{item.url}}'>{{item.title}}</a></p>
							<p class='source'>{{item.source}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>

<!-- 
	
	title, url, source
	upvote, comment
	keywords, category

 -->