<html>
	<head>
		<style>
			body, html {width: 100%; height: 100%; margin: 0; padding: 0;}
			* {margin: 0; padding: 0; box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
			/** {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}*/

			#header {width: 100%; height: 10%; background-color: #eee;  position: fixed; top:0;}
			#header #logo {width: 50%; margin: 0px auto; }
			#header #logo p {font-size: 30px; font-weight: bold; color: #444; padding-top: 10px; }
			#container {width: 90%; font-size: 0; margin: 5% auto;}
			#leftcontrol {width: 20%; border: 0px solid grey; font-size: 22px; font-weight: 200; display: inline-block; vertical-align: top; border: 1px solid grey; height: 70%; margin-top: 5%;  position: fixed; }
			#leftcontrol #leftcontainer {width: 90%; margin: 10% auto;}
			#leftcontainer p {font-size: 18px; font-weight: bold; color: #004276; margin-top: 15%;}
			#articlelist {width: 75%; border: 0px solid grey; font-size: 22px; font-weight: 200; display: inline-block; vertical-align: top; margin-left: 25%;}
			.article {width: 90%; margin: 5% auto;}
			.article .counter {width: 5%; display: inline-block; vertical-align: top; font-size: 22px;}
			.article .title {width: 90%; display: inline-block; vertical-align: top;}
			.title .source {font-size: 14px; font-style: italic; margin-top: 5px; color: #888;}
			.title .title_text { font-size: 20px; font-weight: normal;}
			.title .title_text a {text-decoration: none; color: #404040; }
		</style>
	</head>
	<body>
		<div id='header'>
			<div id='logo'>
				<p>Daily collection of news articles and op-ed</p>
			</div>
			
		</div>
		<div id='container'>
			<div id='leftcontrol'>
				<div id='leftcontainer'>
					<p>News from friends</p>
					<p>India: News & Opinions</p>
				</div>
			</div>
			<div id='articlelist'>
				{% for item in news %}
					<div class='article'>
						<div class='counter'>{{forloop.counter}}.</div>
						<div class='title'>
							<p class='title_text'><a href='{{item.url}}'>{{item.title}}</a></p>
							<p class='source'>{{item.source}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>

<!-- 
	
	Font pairs:
		Helvetica Neue and Garamond
		TheSerif and TheSans
		Renault Light and Apex-New
		

 -->